<div class="row">
	<div class="col-sm-4">
		<h3>Register</h3>
		<div class="alert alert-danger" data-ng-show="err.length > 0">{{err}}</div>

		<form name="register" action="login">
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="text" class="form-control" name="userId" required />
			</div>

			<div class="form-group">
				<label for="password">Password</label> 
				<input type="password" class="form-control" name="password" required />
			</div>

			<button class="btn btn-primary" type="submit">Sign in</button>
		</form>
	</div>
</div>