<h1>Training Detail</h1>
<form name="trainingForm" class="form-horizontal" data-role="form" >
	<div class="form-group" data-ng-class="{'has-error': trainingForm.trainingId.$invalid}">
		<label class="col-sm-2 control-label" for="trainingId">Training Id</label> 
		<div class="col-sm-10">
			<input type="text" name="trainingId" data-ng-model="training.trainingId" class="form-control" data-ng-disabled="training.$edit" required> 
			<span data-ng-show="trainingForm.trainingId.$error.required" class="help-block">Required</span>
		</div>
	</div>
	
	<div class="form-group" data-ng-class="{'has-error': trainingForm.trainingTitle.$invalid}">
		<label class="col-sm-2 control-label" for="trainingTitle">Title</label> 
		<div class="col-sm-10">
			<input type="text" name="trainingTitle" data-ng-model="training.trainingTitle" class="form-control" required> 
			<span data-ng-show="trainingForm.trainingTitle.$error.required" class="help-block">Required</span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="mode">Mode</label> 
		<div class="col-sm-10">
			<select name="mode" data-ng-model="training.mode" data-ng-options="mode for mode in trainingModes" class="form-control"></select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="kind">Kind</label> 
		<div class="col-sm-10">
			<select name="kind" data-ng-model="training.kind" data-ng-options="kind for kind in trainingKinds" class="form-control"></select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="numberOfHours">No. of Hours</label> 
		<div class="col-sm-10">
			<input type="text" name="numberOfHours" data-ng-model="training.numberOfHours" class="form-control"> 
		</div>
	</div>
	
	<div class="form-group" data-ng-class="{'has-error': training.createdOn.$invalid}">
		<label class="col-sm-2 control-label" for="createdOn">
			<i class="glyphicon glyphicon-calendar"></i> 
			Created On
		</label> 
		<div class="col-sm-10">
			<input type="text" name="createdOn" data-ng-model="training.createdOn" class="form-control"  data-bs-datepicker> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="trainingEndDate">
			<i class="glyphicon glyphicon-calendar"></i> 
			<i class="glyphicon glyphicon-resize-horizontal"></i> 
			<i class="glyphicon glyphicon-calendar"></i>
			Training Range
		</label> 
		<div class="col-sm-5">
			<input type="text" name="trainingStartDate" data-ng-model="training.trainingStartDate" class="form-control" placeholder="From" data-max-date="{{training.trainingEndDate}}"data-bs-datepicker> 
		</div>
		<div class="col-sm-5">
			<input type="text" name="trainingEndDate" data-ng-model="training.trainingEndDate" class="form-control" placeholder="Until" data-min-date="{{training.trainingStartDate}}" data-bs-datepicker> 
		</div>
	</div>
	
	<div class="form-group" data-ng-class="{'has-error': trainingForm.description.$invalid}">
		<label class="col-sm-2 control-label" for="description">Description</label> 
		<div class="col-sm-10">
			<textarea name="description" data-ng-model="training.description" class="form-control" rows="3"></textarea>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="level">Level</label> 
		<div class="col-sm-10">
			<select name="level" data-ng-model="training.level" data-ng-options="level.value as level.name for level in empLevels" class="form-control" multiple></select>
		</div>
	</div>

	<br> 
	<a href="#/training" class="btn btn-default">Cancel</a>
	<button data-ng-click="updateTraining(training.trainingId, training)" data-ng-disabled="trainingForm.$invalid" class="btn btn-primary">Save</button>
	<button data-ng-click="destroy(training.trainingId)" data-ng-show="training.$edit" data-confirmation-needed="Are you really want to delete?" class="btn btn-danger">Delete</button>
</form>